{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Hey 모두들 안녕!</title>
    <link rel="stylesheet" href="{% static 'single_pages/style.css' %}">
</head>
<body>
<nav>
    <a href="/blog/">Blog</a>>
    <a href="/about_me/">About me</a>>
</nav>

<iframe width="560" height="315" src="https://www.youtube.com/embed/euq0I1sXg9Q?si=IBXy7VQJBXPPt24V&amp;clip=UgkxfflXqqqjZ0APB-gO2ZNQ9cqT5alBs2vk&amp;clipt=EMF3GIDyAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h1>Hey! 모두들 안녕! 내가 누군지 아니?</h1>
<h3 id="honey-call">이↘하↗늬↘다! 이↘하↗늬↘다!</h3>>
<h1>오늘 난 레드카펫에서 가장 빛나는 별!</h1>>
<h2>어때 섹시하늬?</h2>>
<h3 id="honey-call">섹↘시↗하↘다! 섹↘시↗하↘다!</h3>>

</body>
</html>